services:
  grafana-alloy:
    container_name: grafana-alloy
    image: grafana/alloy:v{{ alloy_version }}
    restart: always
    ports:
      - "{{ alloy_port }}:{{ alloy_port }}"
    volumes:
      - "{{ alloy_base_dir }}/config.alloy:/etc/alloy/config.alloy"
    command:
      - run
      - "--server.http.listen-addr=0.0.0.0:{{ alloy_port }}"
      - "--storage.path=/var/lib/alloy/data"
      - "/etc/alloy/config.alloy"
    extra_hosts:
      - "host.docker.internal:host-gateway"
