services:
  loki:
    image: grafana/loki:{{ loki_version }}
    container_name: loki
    restart: unless-stopped
    ports:
      - "{{ loki.port }}:{{ loki.port }}"
    volumes:
      - ./loki-config.yml:/etc/loki/config.yaml:ro
      - loki_data:/loki
    command: -config.file=/etc/loki/config.yaml
    networks:
      - monitoring
    mem_limit: {{ grafana_alloy.memory_limit | default('512m') }}

volumes:
  loki_data:

networks:
  monitoring:
    name: monitoring
    external: true