<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.grafana.alloy</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ alloy_install_dir }}/alloy</string>
        <string>run</string>
        <string>--server.http.listen-addr=0.0.0.0:{{ alloy_port }}</string>
        <string>--storage.path=/var/lib/alloy/data</string>
        <string>{{ alloy_config_dir }}/config.alloy</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/grafana-alloy.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/grafana-alloy.error.log</string>
</dict>
</plist>
